---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults
title: Anleitung
layout: home
nav_order: 2
has_children: true
has_toc: false
---

<h2 class="text-delta">Table of contents</h2>
{% assign children_list = site.pages | sort:"nav_order" %}
<ul>
  {% for child in children_list %}
  {% if child.parent == page.title and child.title != page.title %}
  <h2>{{ child.title }}</h2>
  <a href="{{ child.url | absolute_url }}">
    <img src="{{site.baseurl}}/assets/images/cover/{{ child.nav_order }}.jpg">
  </a>
  {% if child.summary %} - {{ child.summary }}{% endif %}
  {% endif %}
  {% endfor %}
</ul>
